<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.katomegumi.zxpicturebackend.model.dao.mapper.PictureInfoMapper">
    <resultMap id="BaseResultMap" type="com.katomegumi.zxpicturebackend.model.dao.entity.PictureInfo">
        <id property="id" column="id"/>
        <result property="originUrl" column="origin_url"/>
        <result property="originSize" column="origin_size"/>
        <result property="originFormat" column="origin_format"/>
        <result property="originWidth" column="origin_width"/>
        <result property="originHeight" column="origin_height"/>
        <result property="originScale" column="origin_scale"/>
        <result property="originColor" column="origin_color"/>
        <result property="originPath" column="origin_path"/>
        <result property="picName" column="pic_name"/>
        <result property="picDesc" column="pic_desc"/>
        <result property="compressUrl" column="compress_url"/>
        <result property="compressFormat" column="compress_format"/>
        <result property="compressPath" column="compress_path"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="thumbnailPath" column="thumbnail_path"/>
        <result property="categoryId" column="category_id"/>
        <result property="tags" column="tags"/>
        <result property="userId" column="user_id"/>
        <result property="spaceId" column="space_id"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="reviewMessage" column="review_message"/>
        <result property="reviewerId" column="reviewer_id"/>
        <result property="reviewTime" column="review_time"/>
        <result property="likeQuantity" column="like_quantity"/>
        <result property="collectQuantity" column="collect_quantity"/>
        <result property="isDelete" column="is_delete"/>
        <result property="editTime" column="edit_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,origin_url,origin_size,origin_format,origin_width,origin_height,
        origin_scale,origin_color,origin_path,pic_name,pic_desc,
        compress_url,compress_format,compress_path,thumbnail_url,thumbnail_path,
        category_id,tags,user_id,space_id,review_status,
        review_message,reviewer_id,review_time,like_quantity,collect_quantity,
        is_delete,edit_time,create_time,update_time
    </sql>

    <update id="batchIncrementLikesAndCollects">
        UPDATE picture_info
        SET
        like_quantity = like_quantity +
        CASE id
        <foreach collection="list" item="item">
            WHEN #{item.id} THEN #{item.likeDelta}
        </foreach>
        ELSE 0 END,

        collect_quantity = collect_quantity +
        CASE id
        <foreach collection="list" item="item">
            WHEN #{item.id} THEN #{item.collectDelta}
        </foreach>
        ELSE 0 END,

        update_time = NOW()
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>
