<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.katomegumi.zxpicturebackend.model.dao.mapper.PictureInteractionMapper">
    <resultMap id="BaseResultMap" type="com.katomegumi.zxpicturebackend.model.dao.entity.PictureInteraction">
        <id property="userId" column="user_id"/>
        <id property="pictureId" column="picture_id"/>
        <id property="interactionType" column="interaction_type"/>
        <result property="interactionStatus" column="interaction_status"/>
        <result property="isDelete" column="is_delete"/>
        <result property="editTime" column="edit_time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,picture_id,interaction_type,interaction_status,is_delete,edit_time,
        create_time,update_time
    </sql>
</mapper>
